<ion-view view-title="Init" id="moduleInit" class="loginContent" hide-nav-bar="true">
    <ion-content class="padding">
            <div class="content" ng-style="positionCenterLogin">
                <div class="logoImage"></div>
                <div class="contentFields">
                    <a href="#/register" class="button button-block buttonTransparent">
                        SIGN UP
                    </a>
                    <a href="#/signin" class="button button-block buttonTransparent">
                        LOG IN
                    </a>
                    <button ng-click="googleLogin()" class="button button-block button-login facebookBtn">
                        CONNECT WITH FACEBOOK
                    </button>
                </div>
                <div class="linksContent">
                    <!-- <a href="#/app/feed" class="guestLink">Sing in later &#62;</a> -->
                </div>
            </div>
    </ion-content>
     <a href="#/appSix/terms" class="bottomLink">Terms, Conditions and Privacy Policy</a>
</ion-view>
