<ion-view view-title="FAQ" id="moduleFAQ" class="backgroundGeneric2">
    <ion-content>
      <div class="viewContent termsConditions">

        <h4>How does Gail & Judy work?</h2>
        <p>
        Members of Gail & Judy post items that they want to swap.  When members agree to swap – they ship the items to each other.  Members can choose multiple items to swap, based on the value of each item.<br />
          <ul>
            <li>
              Gail lists an item of clothing
            </li>
            <li>
              Judy see the item and wants to swap
            </li>
            <li>
              Gail picks an item from Judy’s closet, and they both ship the items to each other
            </li>
          </ul>
        </p>
        <br />
        <h4>What is a rematch?</h2>
        <p>
          If Mary’s dress is $80 and Mary only likes Amy’s jacket which is sold for $150, then Amy can rematch. Meaning she can add another item from Mary on top of the $80 dress so she agrees to swap her jacket against 2 items from Mary. <br /><b>You can rematch one item against up to 3 items from the other member’s closet.Be aware that both members can only rematch once to avoid endless negotiations.</b>
        </p>
        <br />
        <h4>How do I report an issue?</h4>
        <p>
          You may report any issues by contact Gail & Judy directly at: contact@gailandjudy.com.
        </p>
        <br />
        <h4>Where is Gail & Judy currently available?</h4>
        <p>
          Currently, Gail & Judy is available in the United States.  Please stay tuned as we add other countries to our online family. <br /> We plan on expanding Gail & Judy to other countries shortly.  Our founding team members are from multiple countries, so we have active expansion plans.
        </p>
        <br />
        <h4>I never received my order.</h4>
        <p>
          <b>Don’t panic.</b><br />
          You are protected every time you place an order on Gail & Judy. If your order never arrives, we will refund your full payment.  Before contacting us, please check to see if your order has shipped. If your order hasn't shipped, we suggest you contact the seller by commenting on the listing. If your order remains unshipped by the 21st day, we will automatically cancel the order on your behalf and refund your payment in full.<br />Please note that for a failed swap we will reimburse you with your insurance + the other member’s insurance.
        </p>
        <br />
        <h4>How secure is Gail & Judy?</h4>
        <p>
          <b>Very secure</b><br />
          Gail & Judy is a secure online marketplace with the following features:<br />
          <ul>
            <li>
              Mobile first design:  Gail & Judy is only available as an app, making it secure for each member.
            </li>
            <li>
              Insurance is provided on each item you list.
            </li>
            <li>
              Gail & Judy automatically calculates shipping so there are no errors
            </li>
            <li>
              Shipping is handled via the USPS, ensuring trackable delivery
            </li>
          </ul>
        </p>
        <br />
        <h4>Does Gail & Judy offer insurance?</h4>
        <p>
          <b>Yes.</b>
          Let’s say Gail added a $20 necklace from Judy on top of the $80 jacket that Judy wanted to swap.  The average price between these items is paid by each member.  After the items are received, the insurance is posted back to their accounts.
        </p>
        <br />
        <h4>I only want to buy and sell, is it possible?</h4>
        <p>
          Of course! Gail & Judy is also totally designed for pure sellers and buyers. On Gail & Judy there’s no distinction between buyers, sellers and swappers because we think we’re all connected to the app for the same benefits: discovering great fashion.
        </p>
        <br />
        <h4>How can I trust buying and selling on Gail & Judy?</h4>
        <p>
          Buyers are protected every time they place an order with us. When you purchase an item, we keep your payment safe until we know you've received your order. If your item does not match the description, please notify us within 3 days of delivery. After we verify your claim, we'll refund payment. If we don't hear from you by 3 days after your order is delivered, we'll assume everything is OK and release your payment to the seller. Once we release payment, all sales are final and no refunds will be available.
        </p>
        <br />
        <h4>Is Gail & Judy only available as an application?</h4>
        <p>
          Yes today we’re offering an IOS and Android versions of our application to all American fashion lovers. But who know what tomorrow holds for us…
        </p>
        <br />
        <h4>What do you mean by a “pre-selected” list of brands?</h4>
        <p>
          We pre-selected a list of over 500 brands to kick-off at the launch. However, we encourage our members to click on the button “Add brand” and send us other suggestions so we can add the new brand if we think it reflects our community’s taste. We want to stay between sisters in fashion. That spirit optimizes the transactions and makes everyone happy.
        </p>
        <br />
        <h4>What are the shipping rates on Gail & Judy?</h4>
        <p>
          We provide a flat rate of $5.95 for expedited shipping for all orders. Each order is shipped using 1-3 day USPS Priority Mail. Shipping is paid for by the buyer. <b>In case of a rematch and a swap between multiple pre-loved items: multiple items from one member can be added to the order for the same fee as long as the total weight of the order does not exceed 5 lbs.</b>
        </p>
        <br />
        <h4>My order was cancelled. When will I receive my refund?</h4>
        <p>
          When an order is cancelled, we process a full refund back to the original payment method right away.<br />
          Please allow PayPal up to 1 full billing cycle for your bank to post your refund to your statement.
        </p>
        <br />
        <h4>What will help my listing sell faster?</h4>
        <p>
          Picture! Picture! Picture!<br />
          <ul>
            <li>
              Use great lighting when taking pictures! Buyers want to clearly see the item.
            </li>
            <li>
              Use a white colored background.
            </li>
            <li>
              Create a beautiful Covershot photo.
            </li>
            <li>
              Write a thorough description for your listing by including the item's condition, color, size, material, measurements, and any wear or damage.
            </li>
          </ul>
        </p>
        <br />
        <h4>What are the fees for selling on Gail & Judy?</h4>
        <p>
          For all sales our commission is 20%.<br />
          For all swaps our commission is 15%.<br />
          We provide a real automated and safe platform for swaps! This is a first in the industry! So even if you never swapped before, try it as it is cheaper and fun.
        </p>
        <br />
        <h4>What can I sell on Gail & Judy?</h4>
        <p>
          We are a marketplace for pre-loved fashion, accessories and jewelry. Your items need to be clean and in good condition. We prohibit the sale of replicas and fakes of any kind.<br />
          We don’t allow the buying or selling of electronics, books, dvds, home goods, used makeup, used underwear, and any health and wellness products. Any listings in these categories will be removed from search or deleted.<br />
          If we feel that your listing violates these guidelines in any way, we reserve the right to remove it and may take other actions, including deleting your account.
        </p>
        <br />
        <h4>I just made a sale! How do I ship?</h4>
        <p>
          When your item sells, we automatically send you a pre-paid, pre-addressed USPS Priority Mail shipping label by email. Please ensure you use our shipping label to ship out your order to avoid any delay in receiving your earnings, as each label has a tracking number connected with each order for us to track on our end.<br />
          When you receive our shipping label, we recommend you print it out and ship out your sale within 3 days. Gail a Judy reserves the right to automatically cancel any order that remains unshipped by the 21th day after purchase.
        </p>
        <br />
        <h4>My package weighs over 5 pounds. How do I upgrade my shipping label?</h4>
        <p>
          Labels for packages over 5 pounds will incur an extra label upgrade fee per the table below, to be paid for by the seller. If your package is over 5 pounds, you will need to generate a new shipping label in the app. Please make sure you select the total weight of your package so that a shipping label with the correct weight can be generated and sent to you.<br />
          Remember, any additional shipping costs for packages over 5 pounds are paid for by the seller and will be automatically deducted from your earnings.
        </p>
        <br />
        <h4>I shipped my sale. How do I get paid?</h4>
        <p>
          When your item sells, we automatically send you an email with a pre-paid, pre-addressed USPS Priority Mail shipping label attached. Please package your item, print the label, and adhere it to your package. Then drop it off at the post office or schedule a pickup with USPS.com.<br />
          We will only release the money to you after the buyer receives it.
        </p>
        <br />
        <h4>What is our Return Policy?</h4>
        <p>
          All sales are final on Gail & Judy. However, we take an active role in each and every purchase made on Gail & Judy to ensure both the buyer and seller have a great experience. A buyer may open a case with us if they don't receive their item or the item they receive is not as described within the listing. This means a buyer cannot return an item they purchased on Poshmark if the item simply does not fit or they no longer want the item - as long as the seller accurately described the item in the listing.<br />
          If the buyer receives an item that is not as described within the listing, is sent the wrong item, or is in some other way not as described, the buyer can report their problem to us within 3 days of delivery through the web at contact@gailandjudy.com. When a case is opened, the buyer is asked to upload photos and offer details of the item. If the return is verified, we assist the buyer in returning the item to the seller and offer them a full refund.<br />
          To avoid a problem with a sale, we advise sellers to be as descriptive and detailed as possible when creating your listings. We encourage buyers to review the listing photos, description and item condition, and if you have any questions, please ask the seller for additional details, measurements or photos. Sellers are usually more than happy to provide additional information through our private messaging system.
        </p>
      </div>
    </ion-content>
</ion-view>
