<ion-view view-title="Init" id="moduleWellcome" class="" hide-nav-bar="true">
  <ion-content has-header="false" class="padding" drag-content="false">
      <div class="content">
        <div class="middleCenter">
          <div class="wellcome whiteColor">WELCOME</div>
          <div class="logoWellcome"> </div>
          <div class="whiteColor">
            The first marketplace where you can swap, buy and sell your favorite brands.
          </div>
          <div class="nextWelcome">
            <a href="#/tuto1" class="whiteColor">NEXT</a>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
