<ion-view view-title="MESSAGE SUCCESS" id="moduleContact" class="moduleContact redColor" style="background: -webkit-linear-gradient(top, rgba(209, 148, 158, 0.5) 0%, rgb(209, 148, 158) 90%), url({{imgB}}) no-repeat center center fixed; background-size:cover;">
    <ion-content class="padding ion-content-view" has-header="false" drag-content="false">
      <div class="initials"></div>
        <div class="contentSuccess">
          <div class="redColor thanks">THANK YOU</div>
          <div class="redColor beensent">Your message has been sent to</div>
          <br />
          <div class="profilePicture profileImgMenuContact" style="margin-top:5px; background-image:url({{imP}});"></div>
          <br />
          <div class="profileName">{{name}}</div>
          <br />
          <div style="margin-top:5px;" class="whiteColor">She’ll get in touch with you soon! </div>
          <br />
          <a menu-close nav-transition="android" href="#/app/mymatches" style="font-size:13px !important;" class="button button-block buttonRed">KEEP SWAPPING</a>
        </div>
    </ion-content>
</ion-view>
